/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@font-face {
    font-family: "Maven Pro", sans-serif;
    src: url(./assets/Maven_Pro/static/MavenPro-Regular.ttf);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Maven Pro", sans-serif;
}