
<div id="login-box">
    <div id="cancel" style="height: 40px;width: 40px;color: gray;margin-left: 94%;;opacity: 0.5;">
      <mat-icon [mat-dialog-close] style="font-size: 22px;cursor: pointer;">highlight_off</mat-icon>
    </div>
    <img src="../../../assets/images/logo.png">
    <p style="text-align:center;font-weight: bolder;font-style: italic;font-size: xx-large;">ĐĂNG KÝ</p>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>TÊN TÀI KHOẢN</mat-label>
        <input matInput type="text" [(ngModel)]="value1" placeholder="Tên Tài Khoản">
        <button *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>MẬT KHẨU</mat-label>
        <input matInput type="text" [(ngModel)]="value2" placeholder="Mật Khẩu">
        <button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>NHẬP LẠI MẬT KHẨU</mat-label>
        <input matInput type="text" [(ngModel)]="value3" placeholder="Nhập Lại Mật Khẩu">
        <button *ngIf="value3" matSuffix mat-icon-button aria-label="Clear" (click)="value3=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>NHẬP EMAIL XÁC NHẬN</mat-label>
        <input matInput type="text" [(ngModel)]="value4" placeholder="Email">
        <button *ngIf="value4" matSuffix mat-icon-button aria-label="Clear" (click)="value4=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>NHẬP MÃ XÁC NHẬN</mat-label>
        <input matInput type="text" [(ngModel)]="value5" placeholder="Mã Xác Nhận">
        <button *ngIf="value5" matSuffix mat-icon-button aria-label="Clear" (click)="value5=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <button mat-raised-button class="confirm" (click)="openDialog()">XÁC NHẬN ĐĂNG KÝ</button>

      <div class = "spec-text">
        <p class="display" style="text-align:center;">Hoặc</p>
      </div>
      
      <button mat-raised-button (click)="Login() "style="font-weight:bold;height:40px;margin:5px;text-align: center;">
        <img  style = "position:relative;top: 1px ;right:120px; height: 30px;width: 30px;" src="../../../assets/images/Gg_color.png">
        <p style="position: absolute;top:0px;left:70px; height: 20px;padding:0;">Đăng nhập bằng Google</p>
      </button>
      <button mat-raised-button style="font-weight:bold;height:40px;margin:5px;text-align: center;">
        <img  style = "position:relative;top: 1px ;right:120px; height: 30px;width: 30px;" src="../../../assets/images/fb_color.png">
        <p style="position: absolute;top:0px;left:65px; height: 20px;padding:0;">Đăng nhập bằng Facebook</p>
      </button>
     
      <!-- <p style="text-align:center;padding :0px;">Khi nhấp vào Đăng Nhập, bạn đồng ý với Điều khoản của chúng tôi. Tìm hiểu về cách chúng tôi xử lý dữ liệu của bạn trong Chính sách Quyền riêng tư và Chính sách Cookie của chúng tôi.</p> -->
</div>


