<!-- <div class="match">
    <div class="body">
        <div class="top">
            <div class="user1">
                <h1>Ken</h1>
                <img src="https://cdn.shopify.com/s/files/1/0045/5104/9304/t/27/assets/AC_ECOM_SITE_2020_REFRESH_1_INDEX_M2_THUMBS-V2-1.jpg?v=8913815134086573859"/>
            </div>
           <mat-icon>favorite</mat-icon>
            <div class="user2">
                <h1>Jame</h1>
                <img  src="https://www.datocms-assets.com/55010/1631448989-1609827493259134-modelo.jpg?auto=format%2Ccompress&cs=srgb"/>
            </div> 
        </div>
   
        <div class="note">
            <h1>IT'S MATCH</h1>
        </div>
    </div>
</div> -->

<div>
    <img style="height: 300px;width: 250px;" src="../../../assets/images/Screenshot 2022-03-17 174718.png">
</div>

