<div class="conversation" (click)="conversationClicked.emit({conversation:conversation, otherUserInfo: otherUser})">
  <div class="picture">
    <img [src]='otherUser.photoURL'>
  </div>
  <div class="content">
    <div class="conversationHeader">
      <div class="name">{{otherUser.displayName}}</div>
      <div class="time">{{lastestMess.time.toString() | date:'shortTime'}}</div>
    </div>
    <div class="message">
      <img *ngIf="!lastestMess.messageRead" src="../../../assets/images/doubletick.png">
      <img *ngIf="lastestMess.messageRead" src="../../../assets/images/doubletick_blue.png">
      {{lastestMess.mess}}
    </div>
  </div>
</div>
