<div class="main">
    <div class="navbar">
        <img (click)="back()" style="width:100px; height:100%; padding: 0;margin: 0; vertical-align: middle;" src="../../../assets/images/icon.png" />
        <a style="font-size: 30px">SFYL</a>
    </div>
    <hr>
    <div class="body">
        <br>
        <p style="font-size: xx-large;font-weight: bold">Bí quyết an toàn khi hẹn hò</p>
        <br>
        <p style="font-size: large;">
            Gặp gỡ những người mới rất thú vị, nhưng bạn luôn cần thận trọng khi tương tác với người mà bạn không biết. Sử dụng phán đoán nhạy bén nhất của mình và đặt sự an toàn của bản thân lên hàng đầu, cho dù bạn đang trao đổi những tin nhắn ban đầu hay gặp mặt
            trực tiếp. Mặc dù bạn không thể kiểm soát hành động của người khác, nhưng có những điều bạn có thể làm để giúp chính bạn được an toàn trong quá trình trải nghiệm Soy Found Your Love.
        </p>
        <p style="font-size: large;">An toàn trực tuyến</p>
        <ul>
            <li style="font-size: x-large;"><strong>Không bao giờ gửi tiền hoặc chia sẻ thông tin tài chính</strong></li>
            <br>
            <p style="font-size: large;">
                Không bao giờ gửi tiền, đặc biệt là chuyển khoản, ngay cả khi người đó tuyên bố rằng họ đang ở trong trường hợp khẩn cấp. Chuyển tiền cũng giống như gửi tiền mặt — chúng ta gần như không thể đảo ngược giao dịch hoặc theo dõi xem tiền đã đi đâu. Không
                bao giờ chia sẻ thông tin có thể dùng để truy cập vào tài khoản tài chính của bạn. Nếu người dùng khác hỏi bạn về tiền, hãy báo cáo việc đó cho chúng tôi ngay lập tức. Để biết các bí quyết tránh lừa đảo trong quan hệ tình cảm, hãy tìm
                hiểu một số lời khuyên từ U.S Federal Trade Commission (Ủy ban Thương mại Liên bang Hoa Kỳ) trên trang web FTC.
            </p>
            <li style="font-size: x-large;"><strong>Bảo vệ thông tin cá nhân của bạn</strong></li>
            <br>
            <p style="font-size: large;">
                Không bao giờ chia sẻ thông tin cá nhân, chẳng hạn như mã số an sinh xã hội, địa chỉ nhà hoặc nơi làm việc hoặc thông tin chi tiết về thói quen hằng ngày của bạn (ví dụ: bạn đến một phòng tập thể dục vào thứ Hai hàng tuần) với những người bạn không biết.
                Nếu bạn là phụ huynh, hãy giới hạn việc chia sẻ thông tin về con cá trên hồ sơ của bạn và trong các lần giao tiếp ban đầu. Tránh chia sẻ thông tin chi tiết như tên con của bạn, nơi chúng học, lứa tuổi hoặc giới tính của chúng.</p>
            <li style="font-size: x-large;"><strong>Ở lại trên nền tảng</strong></li>
            <br>
            <p style="font-size: large;">
                Tiếp tục trò chuyện trên nền tảng Tinder khi bạn làm quen với ai đó. Người dùng có ý định xấu thường cố gắng chuyển cuộc hội thoại sang văn bản, ứng dụng nhắn tin, thư điện tử hoặc điện thoại ngay lập tức.</p>
            <li style="font-size: x-large;"><strong>Hãy cảnh giác với các mối quan hệ với khoảng cách xa và ở nước ngoài</strong></li>
            <br>
            <p style="font-size: large;">
                Cảnh giác với những kẻ lừa đảo tự xưng là đến từ nước bạn nhưng bị mắc kẹt ở một nơi khác, đặc biệt nếu họ yêu cầu trợ giúp tài chính để trở về nhà. Hãy cảnh giác với bất cứ ai không chịu gặp mặt trực tiếp hoặc nói chuyện qua điện thoại/cuộc gọi video—họ
                có thể không phải là người mà họ tự nhận. Nếu ai đó lảng tránh các câu hỏi của bạn hoặc thúc giục bạn tiến tới mối quan hệ nghiêm túc mà không gặp gỡ hoặc làm quen với bạn trước — thì đó là một dấu hiệu cảnh báo nguy hiểm.</p>
            <li style="font-size: x-large;"><strong>Báo cáo tất cả các hành vi đáng ngờ và mang tính xúc phạm</strong></li>
            <br>
            <p style="font-size: large;">
                Bạn sẽ nhận biết được khi ai đó vượt qua ranh giới và khi họ làm thế, chúng tôi muốn biết về điều đó. Chặn và báo cáo bất cứ ai vi phạm các điều khoản của chúng tôi. Dưới đây là một số ví dụ về hành vi vi phạm:
                <br>
                <br> - Yêu cầu tiền hoặc quyên góp
                <br> - Người dùng chưa đủ tuổi
                <br> - Quấy rối, đe dọa và tin nhắn xúc phạm
                <br> - Hành vi không phù hợp hoặc có hại trong hoặc sau khi gặp mặt trực tiếp
                <br> - Hồ sơ giả mạo
                <br> - Thư rác hoặc chào mời bao gồm các liên kết đến các trang web thương mại hoặc cố gắng bán sản phẩm hoặc dịch vụ
                <br>
                <br> Bạn có thể báo cáo bất kỳ mối quan ngại nào về hành vi đáng ngờ từ bất kỳ trang hồ sơ hoặc cửa sổ nhắn tin tại đây. Để biết thêm thông tin, hãy tìm hiểu Community Guidelines (Quy tắc cộng đồng) của chúng tôi.
            </p>
            <li style="font-size: x-large;"><strong>Bảo vệ tài khoản của bạn</strong></li>
            <p style="font-size: large;">
                <br> Hãy đảm bảo chọn một mật khẩu mạnh và luôn cẩn thận khi đăng nhập vào tài khoản của bạn từ máy tính công cộng hoặc dùng chung. Tinder sẽ không bao giờ gửi cho bạn email yêu cầu thông tin tên người dùng và mật khẩu của bạn — nếu bạn
                nhận được email yêu cầu thông tin tài khoản, hãy báo cáo ngay lập tức.
                <br>
            </p>
        </ul>

        <!-- <p style="font-size: larger;"><strong>Bảo vệ thông tin cá nhân của bạn</strong></p> -->
        <hr>
    </div>


</div>