<div class="container">

    <div class="left-item">

        <div class="user-online">

        </div>

        <div class="old-converstation">

        </div>

    </div>

    <div class="right-item">
        <div class="msg-header">
            <div class ="msg-header-img">
                <img src="../../../../assets/images/jisoo1.jpg">
            </div>
            <div class="active">
                <h4>JiSoo</h4>
                <h6>3 hours ago...</h6>
            </div>
        </div>
        <div class="current-conversation">
            
        </div>
        <div class="text-area">

        </div>
    </div>
</div>