<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="container">

    <div class="left-item">

        <div class="header-search">
            <h2 style="font-weight: bold;margin:0 0 0 5px">Chat</h2>
            <div class="input-group" style="margin:0px 0px 0px 5px;float:left;height: 45%;">
                <span class="input-group-text">
                <i class="fa-solid fa-magnifying-glass" style="margin: 6px 0px 0px 5px;color: gray;"></i>
                </span>
                <input type="text" class="form-control" placeholder="Aa">
            </div>
        </div>

        <div *ngIf="userChatService.userChatList !=  []" class="old-converstation">
            <div list-users>
                <div *ngFor='let conversation of userChatService.userChatList'>
                    <app-user-chat [conversation]='conversation' (conversationClicked)="onConversationSelected($event)"></app-user-chat>
                </div>
            </div>
        </div>

    </div>

    <div class="right-item">
        <div *ngIf="!conversation" id ="chatPlaceholder">
            <img width="40%" style="z-index: 0;" src="../../../../assets/images/love_icon.PNG">
            <h2>Nơi Tình Yêu Bắt Đầu</h2>
            <p>Tìm cách bắt chuyện? Khi bạn có tương hợp với người khác,<br> bạn có thể gửi tin nhắn cho họ dưới mục "Các kết nối"</p>
        </div> 
        <app-room-chat [conversation]="conversation" *ngIf="conversation"></app-room-chat>
       
    </div>
</div>
