<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="container">

    <div class="left-item">

        <div class="header-search">
            <h2 style="font-weight: bold;margin:0 0 0 5px">Chat</h2>
            <div class="input-group" style="margin:0px 0px 0px 5px;float:left;height: 45%;">
                <span class="input-group-text">
                <i class="fa-solid fa-magnifying-glass" style="margin: 6px 0px 0px 5px;color: gray;"></i>
                </span>
                <input type="text" class="form-control" placeholder="Aa">
            </div>
        </div>

        <div class="old-converstation">
            <div list-users>
                <div *ngFor='let userChat of userChatService.userChatList'>
                    <app-user-chat [userChat]='userChat'></app-user-chat>
                </div>
            </div>
        </div>

    </div>

    <div class="right-item">
        <app-room-chat></app-room-chat>
    </div>
</div>
