form {
  width: 350px;
  margin: auto;
  height: 350px;
}

.btn {
  margin: 12px 0 0 25px;
  border-radius: 8px;
  font-weight: bold;
  width: 300px;
  font-size: 20px;
}

form button:hover:not(.active){
  background-image: linear-gradient(to right top, #e64966, #e85365, #ea5c65, #eb6564, #ec6d65, #ed7564, #ee7c64, #ef8464, #f08d63, #f09664, #f09f65, #f0a867);
  font-weight: bold;
  color: white !important;
}

h3 {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

p {
  text-align: center;
  font-size: 20px;
}

img {
  width: 80px;
  height: 40%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  margin-left: 135px;
}

.close {
  // margin-left: 87%;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: 94%;
  // font-size: 40px;
}

.close:hover {
  opacity: 100%;
}

mat-icon {
  // margin-left: 94%;
  font-size: 22px;
}

// @media (min-width: 444px) and(max-width: 682px) {
//   .btn {
//     margin-top: 12px;
//     margin-bottom: 20px;
//     margin-left: 17%;
//     background-image: linear-gradient(
//       to left bottom,
//       #e64966,
//       #e85365,
//       #ea5c65,
//       #eb6564,
//       #ec6d65,
//       #ed7564,
//       #ee7c64,
//       #ef8464,
//       #f08d63,
//       #f09664,
//       #f09f65,
//       #f0a867
//     );
//     margin-right: 85px;
//     border-radius: 10px;
//     color: rgb(224, 214, 214);
//     width: 300px;
//     font-size: 20px;
//   }
// }

// @media (min-width: 453px) and(max-width: 680px) {
//   .btn {
//     margin-top: 12px;
//     margin-bottom: 20px;
//     margin-left: 85px;
//     background-image: linear-gradient(
//       to left bottom,
//       #e64966,
//       #e85365,
//       #ea5c65,
//       #eb6564,
//       #ec6d65,
//       #ed7564,
//       #ee7c64,
//       #ef8464,
//       #f08d63,
//       #f09664,
//       #f09f65,
//       #f0a867
//     );
//     margin-right: 85px;
//     border-radius: 10px;
//     color: rgb(224, 214, 214);
//     width: 300px;
//     font-size: 20px;
//   }
// }
