    ul {
    width: 100vw;
    height: 80px;
    // max-height: 10vh;
    min-height: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    // border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(130px, 90%) 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  li {
    // float: left;
    text-align: center;
    padding-top: 6.5%;
    display: inline-block;
  }

  button[mat-icon-button]{
    $large-size-button: 80px;
    $large-size-icon: 48px;
    
        &.icon-button-large {
          width: $large-size-button;
          height: $large-size-button;
          line-height: $large-size-button;

        .mat-icon {
          font-size: $large-size-icon;
          width: $large-size-icon;
          height: $large-size-icon;
          line-height: $large-size-icon;
        }
        .mat-button-ripple {
          font-size: inherit;
          width: inherit;
          height: inherit;
          line-height: inherit;
        }
    }

    $small-size-button: 34px;
    $small-size-icon: 28px;
      &.icon-button-small {
        width: $small-size-button;
        height: $small-size-button;
        line-height: $small-size-button;
      .mat-icon {
        font-size: $small-size-icon;
        width: $small-size-icon;
        height: $small-size-icon;
        line-height: $small-size-icon;
      }
      .mat-button-ripple {
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
      }
    }
  }
 

  li button:hover:not(.active) {
    background-image: linear-gradient(to right top, #e64966, #e85365, #ea5c65, #eb6564, #ec6d65, #ed7564, #ee7c64, #ef8464, #f08d63, #f09664, #f09f65, #f0a867);
    font-weight: bold;
    color: white !important;
  }
  
  // li a:hover {
  //   color: white;
  //   background-color: #db7093;
  //   font-weight: bold;
  // }

  // li a.active {
  //   background-color: #58257b;
  //   color: white;
  //   font-weight: bold;
  // }
  
  li:first-child{
    display:inline-block;
      width: 100px;
      height: 100%;
      padding: 0;
  }
  // li:last-child {
  //   border-right: none;
  // }