<div class="msg-header">
    <div class="msg-header-img">
        <img src="../../../../assets/images/jisoo1.jpg">
    </div>
    <div class="active">
        <h4>JiSoo</h4>
        <h6>3 hours ago...</h6>
    </div>
    <div class="header-icons">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-video"></i>
        <i class="fa-solid fa-circle-info"></i>
    </div>
</div>
<div class="chat-page">
    <div class="msg-inbox">
        <div class="chats">
            <div class="msg-page">

                <div class="received-chats">
                    <div class="received-chats-img">
                        <img src="../../../../assets/images/jisoo1.jpg">
                    </div>
                    <div class="received-msg">
                        <div class="received-msg-inbox">
                            <p>Tam giác là tát giam
                                </p>
                                    <span class="time">{{ date  | date: 'medium' }}</span>
                        </div>
                    </div>
                </div>

                <div class="outgoing-chats">

                    <div class="outgoing-chats-img">
                        <img src="../../../../assets/images/lisa.jpg">
                    </div>

                    <div class="outgoing-chats-msg">
                        <p>Tát là đánh, giam là nhốt</p>
                        <span class="time">{{ date  | date: 'medium' }}</span>
                    </div>

                </div>

                <div class="received-chats">
                    <div class="received-chats-img">
                        <img src="../../../../assets/images/jisoo1.jpg">
                    </div>
                    <div class="received-msg">
                        <div class="received-msg-inbox">
                            <p>Đánh nhốt là đốt nhánh</p>
                            <span class="time">{{ date  | date: 'medium' }}</span>
                        </div>
                    </div>
                </div>

                <div class="outgoing-chats">
                    <div class="outgoing-chats-img">
                        <img src="../../../../assets/images/lisa.jpg">
                    </div>

                    <div class="outgoing-chats-msg">
                        <p>Đốt là thiêu, nhánh là cành</p>
                        <span class="time">{{ date  | date: 'medium' }}</span>
                    </div>
                </div>

                <div class="received-chats">
                    <div class="received-chats-img">
                        <img src="../../../../assets/images/jisoo1.jpg">
                    </div>
                    <div class="received-msg">
                        <div class="received-msg-inbox">
                            <p>Thiêu cành là thanh you</p>
                            <span class="time">{{ date  | date: 'medium' }}</span>
                        </div>
                    </div>
                </div>

                <div class="outgoing-chats">
                    <div class="outgoing-chats-img">
                        <img src="../../../../assets/images/lisa.jpg">
                    </div>

                    <div class="outgoing-chats-msg">
                        <p>Welcome everybody welcome to the party</p>
                        <span class="time">{{ date  | date: 'medium' }}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="msg-bottom">
    <div class="bottom-icons">
        <!-- <i class="fa-solid fa-plus-circle"></i>
        <i class="fa-solid fa-camera"></i>
        <i class="fa-solid fa-microphone"></i> -->
        <i class="fa-solid fa-face-smile"></i>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Aa">
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="fa-solid fa-paper-plane"></i>
            </span>
        </div>
    </div>
</div>
