<div class="msg-header">
    <div class="header-info">
        <div class="msg-header-img">
            <img [src]="otherUserInfo.photoURL">
        </div>
        <div class="active">
            <h4>{{displayName}}</h4>
            <!-- <h6>3 hours ago...</h6> -->
        </div>
    </div>
    <div class="header-icons">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-video"></i>
        <i class="fa-solid fa-circle-info"></i>
    </div>
</div>
<div class="chat-page">
    <!-- <div id ="chatPlaceholder">
        <img width="40%" style="z-index: 0;" src="../../../../assets/images/hello_bear.png">
        <h2>Bạn có biết 69,96% những người 
            <br>vì không chịu bắt chuyện khi match nhau 
            <br>mà đã mất đi một mối quan hệ đẹp không ?!</h2>
        <p>Vì thế đừng ngần ngại để gửi lời chào đến người kia đi nào !!!</p>
    </div>  -->
    <div class="msg-inbox" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <section class="chats">
            <div class="msg-page" *ngFor="let message of this.listMessage">
                <!-- {{message.body}} -->
            <!-- </div> -->
                <div *ngIf="message.id != this.login.user?.uid" class="received-chats">
                    <!-- <div class="received-chats-img">
                        <img src="../../../../assets/images/jisoo1.jpg">
                    </div> -->
                    <div class="received-msg">
                        <div class="received-msg-inbox">
                            <p>{{message.mess}}</p>
                            <span class="time">{{ date  | date: 'medium' }}</span>
                        </div>
                    </div>
                </div>

                <div *ngIf="message.id == this.login.user?.uid" >

                    <div class="my-msg">
                        <div class="my-msg-content">
                            <p>{{message.mess}}</p>
                            <img class="my-msg-img" [src]="otherUserInfo.photoURL">
                        </div>
                        <span class="time">{{ date  | date: 'medium' }}</span>
                    </div>

                </div>
           </div>
           <!-- <emoji-mart set="apple" class="emoji-mart" title="Pick your emoji…" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" emoji="point_up"></emoji-mart> -->
           <emoji-mart set="apple"  (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" title="Pick your emoji…"></emoji-mart>
        </section>
    </div>
</div>

<div class="msg-bottom">
        <!-- <i class="fa-solid fa-plus-circle"></i>
        <i class="fa-solid fa-camera"></i>
        <i class="fa-solid fa-microphone"></i> -->
        <!-- <button type="button"><i class="fa-solid fa-face-smile"></i></button> -->
    <div class="bottom-icons" (click)="toggleEmojiPicker()">
        <i class="fa-solid fa-face-smile"></i>
    </div>
    <div class="input-group">
        <input #msg type="text" class="form-control" [(ngModel)]="message" placeholder="Aa" (keyup.enter)="onEnter(msg.value)">
        <button mat-icon-button aria-label= "Example icon button with a vertical three dot icon" (click)="onSubmit()">
            <span class="input-group-text">
                <i class="fa-solid fa-paper-plane"></i>
            </span>
          </button>
    </div>
</div>
