<div id="side">
    <app-side-bar></app-side-bar>
</div>
<div id="nav">
    <app-nav-bar></app-nav-bar>
</div>
<div class="main">
    <div class="content">
        <div class="top">
            <p style="font-size: xx-large;">Thông tin cá nhân</p>
        </div>
        <div class="body">
            <div class="left">
                <div class="left-top"></div>
                <div class="left-botton"></div>
            </div>

            <div class="right">
                <div class="right-body"></div>
                <div class="button"></div>
            </div>
        </div>
    </div>

</div>