<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main">
    <!-- <div class="page">
        <div class="top">
            <div class="topimg">
        </div> -->

    <!-- <img class="img" src="../../../assets/30c9607524b24b4fceae6d7130246ee7.jpg">

           <diV class="bottomimg">

        </diV> -->
    <!-- </div>
        <div class="bottom">
            <div class="boxbottom" style="background-color: black;">
            </div>
        </div>
    </div>-->

    <div class="content">
        <div class="card">
            <div class="user">
                <img class="user" src="../../../assets/30c9607524b24b4fceae6d7130246ee7.jpg">
                <div class="profile">
                    <div class="name">Anna <span>20</span></div>
                    <div class="local">
                        <mat-icon>location_on</mat-icon>
                        <span>Cách đây 1km</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <div class="no">
                <mat-icon>close</mat-icon>
            </div>

            <div class="star">
                <mat-icon>star</mat-icon>
            </div>

            <div class="heart">
                <mat-icon>favorite</mat-icon>
            </div>
        </div>
    </div>





</div>