<app-side-bar></app-side-bar>
<app-nav-bar></app-nav-bar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main">
    <div class="content">
        <div class="card">
            <div class="user">
                <img class="user" src="../../../assets/images/791698c99d6b7cfd993f61100a7cde73.jpg">
                <div class="profile">
                    <div class="name">Anna <span>20</span></div>
                    <div class="local">
                        <mat-icon>location_on</mat-icon>
                        <span>Cách đây 1km</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button class="no">
                <mat-icon>close</mat-icon>
            </button>

            <button class="star">
                <mat-icon>star</mat-icon>
            </button>

            <button class="heart">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>


        <!-- <div class="tutorial">

            <mat-icon style="color: white;">keyboard_arrow_left</mat-icon>
            <h4 style="margin-top: 15px;"> TRÁI </h4>
            <mat-icon style="color: white;">keyboard_arrow_right</mat-icon>
            <h4 style="margin-top: 15px;"> PHẢI </h4>
            <mat-icon style="color: white;">keyboard_arrow_up</mat-icon>
            <h4 style="margin-top: 15px;"> MỞ HỒ SƠ </h4>
            <mat-icon style="color: white;">keyboard_arrow_down</mat-icon>
            <h4 style="margin-top: 15px;"> ĐÓNG HỒ SƠ </h4>
        </div> -->

        <div class="tutorial">
            <ul>
                <li>
                    <mat-icon style="color: white;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_left</mat-icon>
                    <h4 style="margin-top: 20px;margin-left: 10px;"> TRÁI </h4>
                </li>
                <li>
                    <mat-icon style="color: white;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_right</mat-icon>
                    <h4 style="margin-top: 20px;margin-left: 10px;"> PHẢI </h4>
                </li>
                <li>
                    <mat-icon style="color: white;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_up</mat-icon>
                    <h4 style="margin-top: 20px;margin-left: 10px;"> MỞ HỒ SƠ </h4>
                </li>
                <li>
                    <mat-icon style="color: white;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_down</mat-icon>
                    <h4 style="margin-top: 20px;margin-left: 10px;"> ĐÓNG HỒ SƠ </h4>
                </li>
                <div class="space">
                </div>
                <h4 style="margin-top: 15px;margin-left: 10px;">XEM ẢNH TIẾP THEO</h4>

            </ul>

        </div>
    </div>