form {
  width: 500px;
  margin: auto;
  height: 350px;
}

.try:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bolder;
}

.close {
  margin-left: 94%;
  height: 40px;
  width: 40px;
  opacity: 0.5;
  cursor: pointer;
  // font-size: 40px;
}

.close:hover {
  opacity: 100%;
}

mat-icon {
  font-size: 22px;
}

form{
  width: 350px;
  margin: auto;
  height: 350px;
}

img {
  width: 80px;
  height: 40%;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 5px 135px;
}

h3 {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

p {
  text-align: center;
  font-size: 20px;
}

// @media (min-width: 444px) and(max-width: 682px) {
//   a {
//     top: 424px;
//     position: absolute;
//     margin-left: 150px;
//   }
// }
