<form>
    <div class="close">
        <mat-icon [mat-dialog-close]>highlight_off</mat-icon>
    </div>
    <div class="image">
        <img src="../../../assets/images/icon.png" />
    </div>
    <h3>Vui lòng kiểm tra email của bạn!</h3>
    <p>Nếu tìm thấy có tài khoản với <strong>email đã nhập</strong>, chúng tôi đã gửi email đến đó. Vui lòng kiểm tra email trong giây lát.</p>
    <p style="color: grey;">Chưa nhận được liên kết ?</p>
    <p class="try" (click)="openDialog()">Dùng một email khác</p>
</form>