<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main">
    <div class="content">
        <div class="card" *ngFor="let avatar of avatars">
            <div class="user">
                <img class="user" [src]="avatar.image" [style.witdth]="'100%'">

                <div class="profile">
                    <div class="name">{{avatar.name}} <span>{{avatar.age}}</span></div>
                    <!-- <h2 class="name">{{avatar.name}},{{avatar.age}}</h2> -->
                    <div class="local">
                        <mat-icon>location_on</mat-icon>
                        <span>Cách đây 1km</span>
                    </div>
                    <!-- <div>{{avatar.power}}</div> -->
                </div>
            </div>
        </div>

        <div class="buttons">
            <button class="no">
                <mat-icon>close</mat-icon>
            </button>

            <button class="star">
                <mat-icon>star</mat-icon>
            </button>

            <button class="heart">
                <mat-icon >favorite</mat-icon>
            </button>
        </div>

        <!-- <div class="tutorial">
            <ul>
                <li>
                    <mat-icon style="color: gray;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_left</mat-icon>
                    <h4 style="margin-top: 28px;margin-left: 10px;color:gray ;"> TRÁI </h4>
                </li>
                <li>
                    <mat-icon style="color: gray;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_right</mat-icon>
                    <h4 style="margin-top: 28px;margin-left: 10px;color: gray;"> PHẢI </h4>
                </li>
                <li>
                    <mat-icon style="color: gray;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_up</mat-icon>
                    <h4 style="margin-top: 28px;margin-left: 10px;color: gray;"> MỞ HỒ SƠ </h4>
                </li>
                <li>
                    <mat-icon style="color: gray;width: 25px;margin-top: 15px;height: 25px;border-style:solid;border-radius: 20px;">keyboard_arrow_down</mat-icon>
                    <h4 style="margin-top: 28px;margin-left: 10px;color: gray;"> ĐÓNG HỒ SƠ </h4>
                </li>
                <div class="space" style="background-color: gray;">
                </div>
                <h4 style="margin-top: 28px;margin-left: 10px;color: gray;">XEM ẢNH TIẾP THEO</h4>

            </ul>

        </div> -->
    </div>

    <sw-card-wrapper>

    </sw-card-wrapper>