<div id="side">
    <app-side-bar></app-side-bar>
</div>
<div id="nav">
    <app-nav-bar></app-nav-bar>
</div>
<div class="main">
    <div class="content">
        <!-- <div class="top">
            <p style="font-size: xx-large; margin-left: 10%;">Thông tin cá nhân</p>
        </div> -->
        <div class="body">
            <div class="left">
                <div class="left-top">
                    <div class="card">
                        <img class="user" src="{{this.login.user?.photoURL}}">
                    </div>

                    <div class="profile">
                        <div class="name" id="word2">{{this.login.user?.displayName}}</div>
                        <div class="job" id="word">Sinh Viên <span id="word">20 Tuổi</span></div>
                        <div class="date">
                            <mat-icon>date_range</mat-icon>
                            <span id="word">11/01/2001</span>
                        </div>
                        <div class="gender">
                            <mat-icon>transgender</mat-icon>
                            <span id="word">Nam</span>
                        </div>
                        <div class="school">
                            <mat-icon>school</mat-icon>
                            <span id="word">Đại học Hoa Sen</span>
                        </div>
                        <div class="local">
                            <mat-icon> location_on</mat-icon>
                            <span id="word">Hồ Chí Minh City</span>
                        </div>
                    </div>
                </div>

                <div class="left-botton">

                    <span id="word2">Giới Thiệu</span>
                    <div class="sub-left-botton">
                        <div class="decription">
                            <textarea rows="9" cols="70">26 Sơn La chào ae nhó!!!!!</textarea>
                        </div>
                        <div class="btn">
                            <button mat-raised-button>Lưu</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="right-body">
                    <div class="right-body-top">
                        <span>Sở thích</span>
                        <!-- <mat-form-field class="example-chip-list" appearance="fill">
                            <mat-chip-list #chipList aria-label="Fruit selection">
                                <mat-chip *ngFor="let hobby of hobbies" (removed)="remove(hobby)">
                                    {{hobby.name}}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                                <input placeholder="Add more..." [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field> -->
                        <div class="list">
                            <div class="list2">
                                <p>Shopping</p>
                            </div>
                            <div class="list2">
                                <p>Woman</p>
                            </div>
                            <div class="list2">
                                <p>Xem phim</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-body-botton">
                        <span>Phong cách sống</span>
                        <div class="list">
                            <div class="list1">
                                <p>Ma Kết</p>
                            </div>
                            <div class="list1">
                                <p>Ăn chay</p>
                            </div>
                            <div class="list1">
                                <p>Mèo</p>
                            </div>
                            <div class="list1">
                                <p>Cử nhân</p>
                            </div>
                            <div class="list1">
                                <p>Bóng đá</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="button">
                    <button mat-raised-button class="setting" id="word2"
                        (click)="navigate('/layout/setting-profile')">Chỉnh sửa hồ
                        sơ</button>
                </div>
            </div>
        </div>
    </div>

</div>