.main {
  // position: fixed;
  // top: 50px;
  // left: 5%;
  margin-top: 50px;
  margin-left: 5%;
  width: 95vw;
  height: 90vh;
  display: grid;
  place-items: center;
}

.content {
  height: auto;
  width: 95vw;
  // display: flex;
  padding: 1px 0;
  // align-items: center;
  flex-direction: column;
  place-items: center;
  // margin-top: 2rem;
  margin-left: -10%;
  margin-top: -12%;
  display: grid;
}

// .content .top {
//   height: 15%;
//   width: 100%;
//   // background-color: black;
//   margin-top: 0px;
//   font-size: 32px;
//   font-weight: 700;
//   display: grid;
//   text-shadow: 1px 1px 3px #444;
// }

.content .body {
  width: 95vw;
  height: 37vw;
  // background-color: black;
  display: flex;
  margin-top: 30px;
  align-items: center;
  place-items: center;
  margin-left: 8%;
}

.content .body .left {
  height: 100%;
  width: 46%;
  display: grid;
  border: 2px solid black;
  border-radius: 20px;
}

.content .body .left .left-top {
  width: 45vw;
  height: 20vw;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  // border-style: double // flex-template-columns: minmax(150px, 25%) 1fr;
}

.content .body .left .left-top .card {
  width: 18vw;
  height: 18vw;
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 2%;
}

.content .body .left .left-top .user {
  width: 18vw;
  height: 18vw;
  border-radius: 10px;
  object-fit: cover;
}

.content .body .left .left-top .profile {
  width: 23vw;
  height: auto;
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 2%;
  display: grid;
  margin-bottom: 2%;
}

.content .body .left .left-top .name {
  width: auto;
  height: auto;
  color: black;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.5px;
  // text-shadow: 1px 1px 3px #444;
  display: grid;
  align-items: center;
  // padding: 0 0 20px 0;
}

.content .body .left .left-top .job {
  width: auto;
  height: auto;
  align-items: center;
  margin-top: 10px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.content .body .left .left-top .job span {
  // font-weight: 700;
  // color: gray;
  margin-left: 16px;
  // font-size: 20px;
}

.content .body .left .left-top .date {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.content .body .left .left-top .date span {
  width: auto;
  height: auto;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
}

.content .body .left .left-top .gender {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.content .body .left .left-top .gender span {
  width: auto;
  height: auto;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
}

.content .body .left .left-top .school {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.content .body .left .left-top .school span {
  width: auto;
  height: auto;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
}

.content .body .left .left-top .local {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.content .body .left .left-top .local span {
  width: auto;
  height: auto;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
}

.content .body .left .left-botton {
  width: 45vw;
  height: 14vw;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 2%;
  display: block;
  // border-style: double
}

.content .body .left .left-botton span {
  color: black;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-left: 25px;
}

textarea {
  width: 350px;
  height: 134px;
}

.content .body .left .left-botton .decription {
  font-size: 25px;
  letter-spacing: 0.5px;
  margin-left: 25px;
  margin-top: 2%;
  width: fit-content;
}

.left-botton .sub-left-botton {
  display: flex;
}

.left-botton .sub-left-botton .btn {
  margin-left: 36px;
  margin-top: 110px;
}

.content .body .left .left-botton .sub-left-botton button {
  box-shadow: 5px 5px #888888;
  border: 2px solid;
  font-size: 24px;
  width: 86px;
}

.content .body .left .sub-left-botton button:hover:not(.active) {
  background-image: linear-gradient(
    to right top,
    #e64966,
    #e85365,
    #ea5c65,
    #eb6564,
    #ec6d65,
    #ed7564,
    #ee7c64,
    #ef8464,
    #f08d63,
    #f09664,
    #f09f65,
    #f0a867
  );
  font-weight: bold;
  color: white !important;
}

.content .body .right {
  height: 100%;
  width: 37%;
  // background-color: brown;
  // align-items: center;
  // place-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 14px;
}

.content .body .right .right-body {
  height: 29.5vw;
  width: 27vw;
  border-radius: 10px;
  align-items: center;
  place-items: center;
  margin-top: 3%;
  display: grid;
  //   border-style: double;
}

.content .body .right .right-body .right-body-top {
  height: 13vw;
  width: 25vw;
  align-items: center;
  place-items: center;
  // margin-left: 1vw;
  border-radius: 10px;
}

.content .body .right .right-body .right-body-top span {
  color: black;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.content .body .right .right-body .right-body-botton .list {
  font-size: 16px;
  font-weight: 900;
  color: orangered;
  margin-top: 12px;
}

.content .body .right .right-body .right-body-top .list {
  font-size: 16px;
  font-weight: 900;
  color: orangered;
  margin-top: 12px;
}
.content .body .right .right-body .right-body-botton .list {
  display: flex;
}

.content .body .right .right-body .right-body-top .list {
  display: flex;
}
.right-body .right-body-top .list2,
.right-body .right-body-botton .list1 {
  border: 2px solid rgb(233, 83, 14);
  border-radius: 10px;
  margin-right: 6px;
  width: 20%;
  height: 38px;
  background-color: rgb(224, 177, 155);
}
.right-body .right-body-top .list .list2 p {
  text-align: center;
  margin-top: 8px;
}

// .right-body .right-body-botton .list1 {
//   border: 2px solid aqua;
//   border-radius: 10px;
//   margin-right: 6px;
//   width: 20%;
//   height: 38px;
// }

.right-body .right-body-botton .list .list1 p {
  text-align: center;
  margin-top: 8px;
}

// .example-chip-list {
//   width: 100%;
// }
.content .body .right .right-body .right-body-botton span {
  color: black;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.right .right-body-top .hobby {
  display: flex;
}
.right .right-body-top .hobby #cancel mat-icon {
  margin-top: -14%;
  margin-left: 350px;
}
.right .right-body-top .hobby #cancel:hover:not(.active) {
  opacity: 100% !important;
}

.content .body .right .right-body .right-body-botton {
  height: 13vw;
  width: 25vw;
  // align-items: center;
  // place-items: center;
  // margin-left: 1.5vw;
  // margin-top: 3%;
  border-radius: 10px;
}

// .content .body .right .button {
//     height: 5vw;
//     width: 40vw;
// }
.content .body .right .button .setting {
  height: 4vw;
  width: 50%;
  //   background-color: crimson;
  font-size: 30px;
  //   border-radius: 10px;
  //   color: white;
  box-shadow: 5px 5px #888888;
  margin-top: 3.5%;
  margin-left: 140px;
  border: 2px solid;
}

.content .body .right .button .setting:hover:not(.active) {
  background-image: linear-gradient(
    to right top,
    #e64966,
    #e85365,
    #ea5c65,
    #eb6564,
    #ec6d65,
    #ed7564,
    #ee7c64,
    #ef8464,
    #f08d63,
    #f09664,
    #f09f65,
    #f0a867
  );
  font-weight: bold;
  color: white !important;
}

//width: 1746, height: 1270
@media screen and (max-width: 1260px) {
  .content .body .left .left-top {
    margin-left: 4%;
  }
  .content .body .left .left-top .user {
    width: 15vw;
    height: 16vw;
  }
  .content .body .left .left-top .name,
  .content .body .left .left-top .job {
    font-size: 20px;
  }
  .content .body .left .left-top .date span,
  .content .body .left .left-top .gender span,
  .content .body .left .left-top .school span,
  .content .body .left .left-top .local span {
    font-size: 16px;
  }
  .content .body .left .left-top .profile {
    margin-left: -8px;
    margin-top: -4px;
  }
  textarea {
    width: 300px;
    height: 134px;
  }
  .content .body .left .left-botton {
    margin-left: 2%;
    margin-top: -8%;
  }
  .content .body .right-body .right-body-top {
    margin-top: -12px;
  }
  .left-botton .sub-left-botton .btn {
    margin-left: 36px;
    margin-top: 106px;
  }
  .content .body .right .right-body .right-body-top .list,
  .content .body .right .right-body .right-body-botton .list {
    font-size: 12px;
    margin-top: 12px;
  }
  // .content .body .right .right-body .right-body-botton .list {
  //   font-size: 12px;
  //   margin-top: 12px;
  // }
  .content .body .right .button .setting {
    font-size: 22px;
    margin-left: 102px;
  }
  .right .right-body-top .hobby #cancel mat-icon {
    margin-top: -14%;
    margin-left: 268px;
  }
}
/////////////////////////////////////////////
@media screen and (max-width: 1000px) {
  textarea {
    width: 246px;
    height: 108px;
  }
  .left-botton .sub-left-botton .btn {
    margin-left: 26px;
    margin-top: 80px;
  }
  .content .body .left .left-botton span {
    font-size: 22px;
  }
  .content .body .right .button .setting {
    height: 4vw;
    width: 50%;
    font-size: 20px;
    margin-top: 3.5%;
    margin-left: 90px;
  }
  .content .body .right .right-body .right-body-top span,
  .content .body .right .right-body .right-body-botton span {
    font-size: 22px;
  }
  .right-body .right-body-top .list2 {
    width: 30%;
    height: 38px;
  }
  .right-body .right-body-botton .list {
    width: 130%;
    height: 38px;
  }
  .right .right-body-top .hobby #cancel mat-icon {
    margin-top: -14%;
    margin-left: 208px;
  }
}
///////////////////////////////////////////////
@media screen and(max-width:700px) {
  .content {
    margin-top: -80%;
    margin-left: -44%;
  }
  .content .body {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  textarea {
    width: 180px;
    height: 108px;
  }
  .content .body .left {
    height: 50vw;
    width: 46vw;
  }
  .content .body .right {
    height: 60vw;
    width: 46vw;
    margin-left: 2px;
    margin-top: 4px;
  }
  .content .body .left .left-top .name,
  .content .body .left .left-top .job {
    font-size: 14px;
  }
  .content .body .left .left-top .date span,
  .content .body .left .left-top .gender span,
  .content .body .left .left-top .school span,
  .content .body .left .left-top .local span {
    font-size: 12px;
  }
  .content .body .left .left-top .job {
    margin-top: -1px;
  }
  .content .body .left .left-top .user {
    margin-top: -8px;
    margin-left: -6px;
    height: 20vw;
  }
  .content .body .left .left-botton {
    margin-left: -14px;
    margin-top: -80px;
  }
  .content .body .left .left-botton .sub-left-botton button {
    font-weight: bolder;
    font-size: 16px;
    width: 80px;
  }
  .left-botton .sub-left-botton .btn {
    margin-left: 14px;
    margin-top: 76px;
  }
  .content .body .right .right-body .right-body-top {
    margin-top: 8px;
  }
  .content .body .right .right-body .right-body-botton {
    margin-top: 36px;
  }
  .content .body .right .button .setting {
    height: 10%;
    width: 66%;
    font-size: 20px;
    margin-top: 140px;
    margin-left: 56px;
  }
  .content .body .right .right-body .right-body-top span,
  .content .body .right .right-body .right-body-botton span,
  .content .body .left .left-botton span {
    font-size: 20px;
  }
  .content .body .right .right-body .right-body-top .list,
  .content .body .right .right-body .right-body-botton .list {
    font-size: 10px;
  }
  .content .body .right .right-body .right-body-botton .list {
    width: 300px;
  }
  .right .right-body-top .hobby #cancel mat-icon {
    margin-top: -14%;
    margin-left: 188px;
  }
}
//////////////////////////////////
@media screen and(max-width: 560px) {
  .content {
    margin-top: -108%;
  }
  .content .body .left {
    height: 76vw;
    width: 60vw;
  }
  .content .body .left .left-top .profile {
    margin-left: 28px;
    // margin-top: -4px;
  }
  .content .body .left .left-top .user {
    margin-top: -2px;
    margin-left: -6px;
    height: 30vw;
    width: 22vw;
  }
  .content .body .left .left-top .job {
    font-size: 10px;
  }
  .content .body .left .left-top .date span,
  .content .body .left .left-top .gender span,
  .content .body .left .left-top .school span,
  .content .body .left .left-top .local span {
    font-size: 10px;
  }
  .content .body .left .left-botton {
    margin-left: -14px;
    margin-top: -60px;
  }

  .content .body .right {
    height: 76vw;
    width: 60vw;
  }
  .content .body .right-body-botton .list .list2 {
    width: fit-content;
  }
  .right .right-body-top .hobby #cancel mat-icon {
    margin-top: -14%;
    margin-left: 168px;
  }
}
