<div class="container">
  <h2>Chat</h2>
  <div class="body">
    <div class="left">
      <div class="top">
        <input type="text" placeholder="Search" />

      </div>
      <div class="status">
        <ul class="avatar">
          <li>
            <img class="img" src="../../../assets/img/3.jpg" alt="" />
            <!-- <span class="name">Thomas Bangalter</span> -->
            <span class="name">Thomas</span>
          </li>
          <li>
            <img class="img" src="../../../assets/img/4.jpg" alt="" />
            <!-- <span class="name">Dog Woofson</span> -->
            <span class="name">Dog</span>
          </li>
          <li>
            <img class="img" src="../../../assets/img/5.jpg" alt="" />
            <span class="name">Jackson</span>
          </li>
          <li>
            <img class="img" src="../../../assets/img/6.jpg" alt="" />
            <!-- <span class="name">Bo Jackson</span> -->
            <span class="name">Boo</span>

          </li>
        </ul>

      </div>

      <div class="showchat">
        <ul class="people">
          <li class="person" data-chat="person1">
            <img class="img" src="../../../assets/img/3.jpg" alt="" />
            <span class="name">Thomas Bangalter</span>
            <span class="time">2:09 PM</span>
            <span class="preview">I was wondering...</span>
          </li>
          <li class="person" data-chat="person2">
            <img class="img" src="../../../assets/img/4.jpg" alt="" />
            <span class="name">Dog Woofson</span>
            <span class="time">1:44 PM</span>
            <span class="preview">I've forgotten how it felt before</span>
          </li>
          <li class="person" data-chat="person3">
            <img class="img" src="../../../assets/img/5.jpg" alt="" />
            <span class="name">Jackson</span>
            <span class="time">9:09 PM</span>
            <span class="preview">It’s so bat...</span>
          </li>
          <li class="person" data-chat="person4">
            <img class="img" src="../../../assets/img/6.jpg" alt="" />
            <span class="name">Bo Jackson</span>
            <span class="time">2:09 PM</span>
            <span class="preview">It’s not that bad...</span>
          </li>
        </ul>
      </div>



    </div>
    <div class="right">
      <div class="frames">
      <div class="chatbox">
        <img class="img" src="../../../assets/img/2.jpg" alt="Avatar">
        <div class="messgae-left" >How are you today?</div> 
        <span class="time-right">11:00</span>
      </div>

      <div class="darker">
        <img class="img" id="imgright" src="../../../assets/img/1.jpg" alt="Avatar">
        <div class="messgae-right">Hey! I'm fine. Thanks for asking!</div> 
        <span class="time-left">11:01</span>
      </div>

      <div class="chatbox">
        <img class="img" src="../../../assets/img/2.jpg" alt="Avatar">
        <div class="messgae-left">Sweet! So, what do you wanna do today?</div> 
        <span class="time-right">11:02</span>
      </div>

      <div class="darker">
        <img class="img" id="imgright" src="../../../assets/img/1.jpg" alt="Avatar">
        <div class="messgae-right">Nah, I dunno. Play soccer.. or learn more coding perhaps?</div> 
        <span class="time-left">11:05</span>
      </div>
    </div>
      <div class="chatbar">
        <button>
          <mat-icon>add_circle</mat-icon>
        </button>
   

          <input class="search" type="text" placeholder="Search" />
          <button>
           <mat-icon>sentiment_very_satisfied</mat-icon>
        </button>
        <button>
          <mat-icon>send</mat-icon>
        
      </button>
       
       
       
       

      </div>
    </div>
  </div>
</div>
