<app-side-bar></app-side-bar>
<app-nav-bar></app-nav-bar>
<div class="container">
    <h2>Chat</h2>
    <div class="body">
        <div class="left">
            <div class="top">
                <input type="text" style="border-radius: 8px;border-style:solid ;" placeholder="Search" />

            </div>
            <div class="status">
                <ul class="avatar">
                    <li>
                        <img class="img" src="../../../assets/images/3.jpg" alt="" />

                        <span class="name">Thomas</span>
                    </li>
                    <li>
                        <img class="img" src="../../../assets/images/4.jpg" alt="" />

                        <span class="name">Dog</span>
                    </li>
                    <li>
                        <img class="img" src="../../../assets/images/5.jpg" alt="" />
                        <span class="name">Jackson</span>
                    </li>
                    <li>
                        <img class="img" src="../../../assets/images/6.jpg" alt="" />

                        <span class="name">Boo</span>

                    </li>
                </ul>

            </div>

            <div class="showchat">
                <ul class="people">
                    <li class="person" data-chat="person1">
                        <img class="img" src="../../../assets/images/.jpg" alt="" />
                        <span class="name">Thomas Bangalter</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">I was wondering...</span>
                    </li>
                    <li class="person" data-chat="person2">
                        <img class="img" src="../../../assets/images/4.jpg" alt="" />
                        <span class="name">Dog Woofson</span>
                        <span class="time">1:44 PM</span>
                        <span class="preview">I've forgotten how it felt before</span>
                    </li>
                    <li class="person" data-chat="person3">
                        <img class="img" src="../../../assets/images/5.jpg" alt="" />
                        <span class="name">Jackson</span>
                        <span class="time">9:09 PM</span>
                        <span class="preview">It’s so bat...</span>
                    </li>
                    <li class="person" data-chat="person4">
                        <img class="img" src="../../../assets/images/6.jpg" alt="" />
                        <span class="name">Bo Jackson</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">It’s not that bad...</span>
                    </li>
                </ul>
            </div>



        </div>
        <div class="right">
            <div class="call">
                <a>
                    <img class="img" src="../../../assets/images/1.jpg" alt="" />
                    <span class="name">Bo Jackson</span>
                </a>
                <b>
  <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;" >
    <mat-icon>call</mat-icon>
  </button>
  <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;" >
    <mat-icon>videocam</mat-icon>
  </button>
  <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;" >
    <mat-icon>error</mat-icon>
  </button>
</b>
      </div>
      <div class="frames">
      <div class="fram">
      <div class="chatbox">
        <img class="img" src="../../../assets/images/2.jpg" alt="Avatar">
        <div class="messgae-left" >How are you today?</div> 
        <span class="time-right">11:00</span>
      </div>

                <div class="darker">
                    <img class="img" id="imgright" src="../../../assets/images/1.jpg" alt="Avatar">
                    <div class="messgae-right">Hey! I'm fine. Thanks for asking!</div>
                    <span class="time-left">11:01</span>
                </div>

                <div class="chatbox">
                    <img class="img" src="../../../assets/images/2.jpg" alt="Avatar">
                    <div class="messgae-left">Sweet! So, what do you wanna do today?</div>
                    <span class="time-right">11:02</span>
                </div>

      <div class="darker">
        <img class="img" id="imgright" src="../../../assets/images/1.jpg" alt="Avatar">
        <div class="messgae-right">Nah, I dunno. Play soccer.. or learn more coding perhaps?</div> 
        <span class="time-left">11:05</span>
      </div>
    </div>
    
      <div class="chatbar">
        <div class="icon">
        <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;" >
          <mat-icon>add_circle</mat-icon>
        </button>


                    <input class="search" type="text" placeholder="Chat" />


                    <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;">
            <mat-icon>sentiment_very_satisfied</mat-icon>
        </button>
                    <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;">

          <mat-icon>send</mat-icon>

      </button>
                </div>




            </div>
        </div>
    </div>
</div>