.container{
  margin: 10px 30px;
}

.body{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
}
// .left{
//     width: 30%;
//     height: auto;
//     background-color: red ;
    
// }
.status{
  // line-height: 40px;
  // margin-left: -5px;
}
.avatar{
  list-style-type: none;
  background-color: rebeccapurple;
  width: auto;
  display: flex;
  flex-direction: row;
}

.avatar li {
  width: 5em;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatar li img {
  margin: 0;
}

.showchat{
  height: 80%;

}
.left {
  // float: left;
  border-style:solid ;
  width: 30%;
  height: 100%;
  .top {
      position: relative;
      width: 50%;
      height: 10%;
      padding: 29px;
  }
  input {
      float: left;
      width: 250px;
      height: 42px;
      padding: 0 15px;
      border: 1px solid var(--light);
      background-color: #eceff1;
      border-radius: 21px;
      &:focus {
      outline: none;
      }
  }
  .people {
      margin-left: -1px;
      width: 70%;
      border-style: double 5px;
      .person {
          position: relative;
          width: 80%;
          padding: 12px 10% 16px;
          cursor: pointer;
          &:after {
              position: absolute;
              bottom: 0;
              left: 50%;
              display: block;
              width: 80%;
              height: 1px;
              content: '';
              transform: translate(-50%, 0);
          }
          img {
              float: left;
              width: 40px;
              height: 40px;
              margin-right: 12px;
              border-radius: 50%;
                                  object-fit: cover;
          }
          .name {
              font-size: 14px;
              line-height: 22px;
              color: var(--dark);
           
          }
          .time {
              font-size: 14px;
              position: absolute;
              top: 16px;
              right: 10%;
              padding: 0 0 5px 5px;
      
          }
          .preview {
              font-size: 14px;
              display: inline-block;
              overflow: hidden !important;
              width: 70%;
              white-space: nowrap;
              text-overflow: ellipsis;
              
          }
          &.active,&:hover {
              margin-top: -1px;
              margin-left: -1px;
              padding-top: 13px;
              border: 0;
              background-color: pink;
              width: calc(100% + 2px);
              padding-left: calc(10% + 1px);
              span {
                  // color: black;
                  // background-color: #aaa;
              }
              &:after {
                  display: none;
              }
          }
      }
  }
}

// ======================= CSS RIGHT CONTENT ===================================
.right{
  margin-left: 10px;
    width: 70%;
    height: auto;
    background-color: white;
    border-style: solid;
}
.chatbox {
    border: 2px solid #dedede;
    // background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border: 2px solid #dedede;
    // background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
  }
  .darker::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .chatbox::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .chatbox img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
  }
  #imgright{
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  .img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  .messgae-left{
    margin-right:70%;
    padding: 10px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
  }
  .messgae-right{
    margin-right: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-left: 70%
  }
  .frames{
    width: 100%;
    height: 80%;;
  }
  .chatbar{
    width: 100%;
    height: 20%;
    border-style: solid ;
  }
  
  button{
    margin-top: 4%;
    margin-left: 40%;
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .search{
    width: 5%;
    height: 50px;
    margin-top: 10px;
    margin-left: 15px;
  }
  