    <ul >
      <li>
        <button mat-icon-button class="icon-button-small" aria-label="small button" style="color: white;" >
          <mat-icon>perm_identity</mat-icon>
        </button>
      </li>
    <li>
      <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;" >
        <mat-icon>perm_identity</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;">
        <mat-icon>message</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;">
        <mat-icon>settings</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button class="icon-button-large" aria-label="large button" style="color: black;">
        <mat-icon>logout</mat-icon>
      </button>
    </li>
  </ul>

  
  
