ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 5%;
  height: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // border: 1px solid #58257b;
  min-width: 100px;
  display: inline-block;
  position: fixed; /* cố định thanh điều hướng cả khi cuộn để đọc website */
  top: 0;
  overflow: hidden; /* nếu nội dung quá dài sẽ có thêm thanh cuộn để xem phần còn lại */
}

// li a.active {
//   background-color: #58257b;
//   font-weight: bold;
//   color: white;
// }

li button:hover:not(.active) {
  background-image: linear-gradient(
    to right top,
    #e64966,
    #e85365,
    #ea5c65,
    #eb6564,
    #ec6d65,
    #ed7564,
    #ee7c64,
    #ef8464,
    #f08d63,
    #f09664,
    #f09f65,
    #f0a867
  );
  font-weight: bold;
  color: white !important;
}

li {
  margin-top: 20%;
  padding: 10%;
  // width: 3%;
  text-align: center;
  // border-bottom: 1px solid #58257b;
}

button[mat-icon-button] {
  $large-size-button: 80px;
  $large-size-icon: 48px;

  &.icon-button-large {
    width: $large-size-button;
    height: $large-size-button;
    line-height: $large-size-button;

    .mat-icon {
      font-size: $large-size-icon;
      width: $large-size-icon;
      height: $large-size-icon;
      line-height: $large-size-icon;
    }
    .mat-button-ripple {
      font-size: inherit;
      width: inherit;
      height: inherit;
      line-height: inherit;
    }
  }

  $small-size-button: 24px;
  $small-size-icon: 18px;
  &.icon-button-small {
    width: $small-size-button;
    height: $small-size-button;
    line-height: $small-size-button;
    .mat-icon {
      font-size: $small-size-icon;
      width: $small-size-icon;
      height: $small-size-icon;
      line-height: $small-size-icon;
    }
    .mat-button-ripple {
      font-size: inherit;
      width: inherit;
      height: inherit;
      line-height: inherit;
    }
  }
}
