* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}

#header {
  overflow: hidden;
}

#nav-bar {
  height: 86px;
  min-height: 86px;
  background-color: black;
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#nav {
  padding-left: 50px;
  display: inline-block;
}

#nav li {
  display: inline-block;
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 78px;
  padding: 0 30px;
  display: inline-block;
  font-weight: bold;
  font-size: larger;
  // border: 1px solid;
}

#nav li:hover a {
  color: red;
}

#nav-bar .login {
  float: right;
  line-height: 86px;
  padding: 0px 50px;
}

#body {
  // position: relative;
  margin-top: 0px;
  padding-top: 50%;
  background-image: url("../../../assets/images/background.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#body .body-text {
  position: absolute;
  top: 150px;
  //cách 1
  // left: 50%;
  // transform: translateX(-50%);
  //cách 2
  width: 100%;
  text-align: center;
  // margin-top: 156px;
}

.text {
  width: 100%;
  font-weight: bolder;
  color: #ef8464;
  font-size: xx-large;
}

.btn {
  background-image: linear-gradient(
    to left bottom,
    #e64966,
    #e85365,
    #ea5c65,
    #eb6564,
    #ec6d65,
    #ed7564,
    #ee7c64,
    #ef8464,
    #f08d63,
    #f09664,
    #f09f65,
    #f0a867
  );
  // position: absolute;
  // top: 100px;
  // left: 100px;
  width: 300px;
  font-size: 27px;
  border-radius: 20px;
}

#content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  // width: fit-content;
  flex-wrap: wrap;
  // padding-left: 50px;
  margin-right: 100px;
}

#content .sub-content {
  // float: left;
  // width: calc(100% / 3);
  // border: 2px solid rgb(15, 15, 15);
  // // box-shadow: 10px 10px 5px #aaaaaa;
  // height: fit-content 200px;
  // // margin-left: 10px;
  // // margin-right: 10px;
  border: 2px solid rgb(15, 15, 15);
  box-shadow: 10px 10px 5px #aaaaaa;
  width: 370px;
  height: 208px;
  margin-bottom: 13px;
  margin-left: 100px;
}

#content .sub-content p {
  // text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#content .sub-content h3 {
  // margin-left: 30px;
  padding-left: 50px;
  font-size: 40px;
  margin-top: 20px;
}

#footer {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  margin: 5px;
}

.image {
  width: 40px;
  height: 40px;
  margin: 0 3px;
}

#footer .sub-foot {
  // margin-left: 10px;
  // margin-right: 10px;
  width: calc(100% / 4);
  // border: 2px solid;
  // text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

// .sub-foot .foot-text {
//   margin-top: 20px;
// }

@media (min-width: 444px) and(max-width: 740px) {
  // #body .body-text {
  //   bottom: 769px;
  // }

  #nav li a {
    color: white;
    text-decoration: none;
    line-height: 86px;
    padding: 0 15px;
    display: inline-block;
  }

  #nav-bar .login {
    // position: fixed;
    float: right;
    padding: 0 11px 5px 0;
  }

  #content .sub-content {
    // float: left;
    // width: calc(100% / 3);
    // border: 2px solid rgb(15, 15, 15);
    // // box-shadow: 10px 10px 5px #aaaaaa;
    // height: fit-content 200px;
    // // margin-left: 10px;
    // // margin-right: 10px;
    border: 2px solid rgb(15, 15, 15);
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 370px;
    height: 300px;
    margin-bottom: 13px;
    margin-left: 100px;
  }

  #content .sub-content p {
    // text-align: center;
    padding-left: 50px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: -39px;
    margin-inline-end: 71px;
  }
  .btn {
    background-image: linear-gradient(
      to left bottom,
      #e64966,
      #e85365,
      #ea5c65,
      #eb6564,
      #ec6d65,
      #ed7564,
      #ee7c64,
      #ef8464,
      #f08d63,
      #f09664,
      #f09f65,
      #f0a867
    );
    color: whitesmoke;
    width: 100px;
    font-size: 11px;
  }

  .text {
    font-weight: bolder;
    color: #e64966;
    font-size: 19px;
  }

  .body-text {
    position: relative;
    top: 15%;
    width: 500px;
    text-align: center;
  }

  #nav-bar {
    height: 46px;
    background-color: black;
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  #nav li a {
    color: yellow;
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
  }

  #nav-bar .login {
    float: right;
    line-height: 46px;
    padding: 20px 11px;
  }

  .sub-foot .foot-text {
    margin-top: 30px;
    display: flex;
  }

  // .sub-foot .foot-text .image{
  //   height: 100px;
  //   width: 100px;
  // }
}
