<!-- <div class="header">
    <div id="nav-bar">
        <ul id="nav">
            <li>
                <img style="width:80px; height:30%; padding: 0;margin: 0; vertical-align: middle;" src="../../../assets/images/icon.png" />
                <a style="margin: 0; padding: 0;" href="">SFUL</a>
            </li>
            <li><a href="">Tìm hiểu</a></li>
            <li><a href="">An toàn</a></li>
            <li><a href="">Hỗ trợ</a></li>
        </ul>
        <div class="login">
            <button (click)="openDialog1()" style="width:100px;color:red; font-weight: bolder;" mat-raised-button>
                Đăng nhập
            </button>
        </div>
    </div>

    <div id="body">
        <div class="body-text">
            <div class="text">
                <p>NƠI MỘT MỐI QUAN HỆ MỚI ĐƯỢC ƯƠM MẦM </p>
            </div>
            <div>
                <button class="btn" mat-raised-button (click)="openDialog2()">Lập tài khoản</button>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="sub-content">
            <h3>Mạnh</h3>
            <p>Tôi đã gặp được một nửa của mình trên SFUL. Thật vinh dự khi có thể được viết những lời chia sẻ đến mọi người về sự tuyệt vời của trang web này !!!</p>
        </div>
        <div class="sub-content">
            <h3>Huy</h3>
            <p>Từ một kẻ khù khờ trong chuyện tình yêu nhưng sau khi sử dụng web hẹn hò này tôi đã có thể giao tiếp trao đổi một cách tự nhiên với người khác giới. Các bạn nếu muốn cải thiện khả năng giao tiếp và muốn có ny thì nên thử sử dụng trang web
                hẹn hò này. !</p>
        </div>
        <div class="sub-content">
            <h3>Hào</h3>
            <p>Tôi đã từng chỉ mê gái 2D và 3D nhưng sau khi sử dụng web ứng dụng hẹn hò này. Tôi mới được biết được rằng gái ảo chỉ là phù du. 5D mới là chân lý!.</p>
        </div>

    </div>

    <div id="footer">
        <div class="sub-foot">
            <div class="foot-head">
                <h3>PHÁP LÝ</h3>
            </div>
            <div class="foot-text">
                <p>Quyền riêng tư</p>
                <p>Điều khoản</p>
                <p>Chính sách cookie</p>
                <p>Sở hữu trí tuệ</p>
            </div>
        </div>

        <div class="sub-foot">
            <div class="foot-head">
                <h3>NGHỀ NGHIỆP</h3>
            </div>
            <div class="foot-text">
                <p>Cổng thông tin nghề nghiệp</p>
                <p>Blog công nghệ</p>
            </div>
        </div>

        <div class="sub-foot">
            <div class="foot-head">
                <h3>MẠNG XÃ HỘI</h3>
            </div>
            <div class="foot-text">
                <img style="height: 35px; width:35px;"class="image" src="../../../assets/images/insta.png" />
                <img style="height:35px; width:35px;"class="image" src="../../../assets/images/tiktok.png" />
                <img style="height:35px; width:35px;"class="image" src="../../../assets/images/ytb.png" />
                <img style="height:30px; width:35px;padding-left: 10px;"class="image" src="../../../assets/images/twit.png" />
                <img style="height:35px; width:35px;"class="image" src="../../../assets/images/fb.png" />
            </div>
        </div>

        <div class="sub-foot">
            <div class="foot-head">
                <h3>CÂU HỎI THƯỜNG GẶP</h3>
            </div>

            <div class="foot-text">
                <p>Các điểm đến</p>
                <p>Phòng báo chí</p>
                <p>Liên hệ</p>
                <p>Mã khuyến mãi</p>
            </div>
        </div>
    </div>
</div> -->

<div class="container-custom">
    <!--Header container-->
    <header style="position:relative;">
        <!--  Top Header Default-->
        <ng-container>
            <div class="top-header default">
                <!--Header Left-->
                <div class="top-header_left">
                    <img src="../../../assets/images/icon.png" alt="logo_white">
                </div>
                <!--Header Right-->
                <div class="top-header_right">
                    <button class="login">Log In</button>
                    <button mat-icon-button>
              <mat-icon style="color: white;">menu</mat-icon>
            </button>
                </div>
            </div>
        </ng-container>


        <!--  Top Header Header1-->
        <ng-container>
            <div class="top-header header-1" style="position: absolute;">
                <div class="top-1">
                    <!--Header Left-->
                    <div class="top-header_left">
                        <img src="../../../assets/images/icon.png" alt="logo_colored">
                    </div>
                    <!--Header Right-->
                    <div class="top-header_right">
                        <div class="top-header_right_top_content">
                            <button class="login">Log In</button>
                            <button mat-icon-button>
                  <mat-icon>clear</mat-icon>
                </button>
                        </div>
                    </div>
                </div>

                <!--Main Header Content-->
                <div class="main-content" style="position:relative;">
                    <div class="content-top">
                        <div class="container-fluid w-90">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-2"><strong class="text-uppercase">Language</strong></p>

                                    <p class="d-flex align-items-center">
                                        <mat-icon class="mr-2">arrow_drop_up</mat-icon> <span>English</span></p>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Company</h3>
                                    <p>Jobs</p>
                                    <p>Contact</p>
                                    <p>Security</p>
                                </div>
                                <div class="col-md-3">
                                    <h3>Community</h3>
                                    <p>Blog</p>
                                    <p>Tech Blog</p>
                                    <p>Press</p>
                                    <p>Support</p>
                                    <p>Promo Code</p>
                                </div>
                                <div class="col-md-3">
                                    <h3>Partners</h3>
                                    <p>Hey! Vina</p>
                                    <p>Spotify</p>
                                </div>
                                <div class="col-md-3">
                                    <h3>Legal</h3>
                                    <p>Privacy</p>
                                    <p>Terms</p>
                                    <p>Cookie Policy</p>
                                    <p>Safety & Policy Center</p>
                                    <p>Safety Tips</p>
                                    <p>Community Guidelines</p>
                                    <p>Intellectual Property</p>
                                </div>
                            </div>

                            <div class="row" style="padding: 10px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </header>

    <main class="mainpage-content">
        <div style="position: relative;">
            <h1>Swipe Right <span>&reg;</span></h1>
        </div>

        <button class="create-account">Create Account</button>
    </main>


</div>


<!--Main content-->
<!--  H1-->
<!--  Button-->