<div>
    <app-side-bar></app-side-bar>
</div>
<div>
    <app-nav-bar></app-nav-bar>
</div>
<!-- <div style="margin:120px 0 0 8%;height:80%;">
    <h2>Giới thiệu về CSS (by: Quantrimang.com)</h2>
      <h3>CSS giúp ích rất nhiều khi viết một trang web bằng HTML.</h3>
        <p><strong>CSS là gì?</strong></p>
        <p>CSS là viết tắt của cụm từ tiếng Anh "Cascading Style Sheet".</p>
        <p>CSS mô tả cách các phần tử HTML hiển thị trên màn hình và các phương 
        tiện khác.</p>
        <p>CSS rất hữu ích và tiện lợi. Nó có thể kiểm soát tất cả các trang 
        trên một website.</p>
        <p>Các stylesheet ngoài được lưu trữ dưới dạng các tập tin .CSS.</p>
        <p><strong>Vì sao nên dùng CSS?</strong></p>
        <p>CSS được dùng để định nghĩa kiểu cách cho các trang trên website của 
        bạn, gồm cả thiết kế, dàn trang và các cách hiển thị khác nhau trên nhiều 
        thiết bị với kích thước màn hình khác nhau.</p>
        <p><strong>CSS giúp giải quyết vấn đề lớn của HTML.</strong></p>
        <p>HTML không có phần tử để để định dạng cho trang web. HTML chỉ được 
        dùng để tạo nội dung cho trang. Khi các phần tử như font và thuộc tính 
        màu sắc được thêm vào HTML 3.2, cơn ác mộng của các nhà phát triển web 
        bắt đầu. Việc phát triển một website lớn mà thêm thông tin font hay màu 
        sắc vào từng trang đòi hỏi rất nhiều thời gian.</p>
        <p>Để giải quyết vấn đề này, World Wide Web Consortium (W3C) đã tạo ra 
        CSS, giúp loại bỏ việc định dạng kiểu cách khỏi trang HTML.Các định nghĩa
        liên quan đến kiểu cách được đưa vào tập tin .css và nhờ vào tập tin 
        stylesheet ngoài, bạn có thể thay đổi toàn bộ website chỉ bằng một tập 
        tin duy nhất.</p>
  </div> -->

