<div class="header">
    <div id="nav-bar">
        <ul id="nav">
            <li>
                <img style="width:47px; height:30%; padding: 0;margin: 0; vertical-align: middle;"
                    src="../../../assets/images/icon.png" />
                <a style="margin: 0; padding: 0;" href="">SFUL</a>
            </li>
            <li><a href="">Tìm hiểu</a></li>
            <li><a href="">An toàn</a></li>
            <li><a href="">Hỗ trợ</a></li>
        </ul>
        <div class="login">
            <button style="color:red; font-weight: bolder;" mat-flat-button>
                Đăng nhập
            </button>
        </div>
    </div>

    <div id="body">
        <div class="body-text">
            <div class="text">
                <h2>NƠI MỘT MỐI QUAN HỆ MỚI ĐƯỢC ƯƠM MẦM </h2>
            </div>
            <div>
                <button class="btn" mat-raised-button>Lập tài khoản</button>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="sub-content">
            <h3>Mạnh</h3>
            <p>Tôi đã gặp được một nửa của mình trên SFUL. Thật vinh dự khi có thể được viết những lời chia sẻ
                đến mọi người về sự tuyệt vời của trang web này !!!</p>
        </div>
        <div class="sub-content">
            <h3>Huy</h3>
            <p>Từ một kẻ khù khờ trong chuyện tình yêu nhưng sau khi sử dụng web hẹn hò này tôi đã có thể giao
                tiếp trao đổi một cách tự nhiên với người khác giới. Các bạn nếu muốn cải thiện khả năng giao
                tiếp và muốn có ny thì nên thử sử dụng trang web hẹn hò này. !</p>
        </div>
        <div class="sub-content">
            <h3>Hào</h3>
            <p>Tôi đã từng chỉ mê gái 2D và 3D nhưng sau khi sử dụng web ứng dụng hẹn hò này. Tôi mới được biết
                được rằng gái ảo chỉ là phù du. 5D mới là chân lý!.</p>
        </div>

    </div>

    <div id="footer">
        <div class="sub-foot">
            <div class="foot-head">
                <h3>PHÁP LÝ</h3>
            </div>
            <div class="foot-text">
                <p>Quyền riêng tư</p>
                <p>Điều khoản</p>
                <p>Chính sách cookie</p>
                <p>Sở hữu trí tuệ</p>
            </div>
        </div>

        <div class="sub-foot">
            <div class="foot-head">
                <h3>NGHỀ NGHIỆP</h3>
            </div>
            <div class="foot-text">
                <p>Cổng thông tin nghề nghiệp</p>
                <p>Blog công nghệ</p>
            </div>
        </div>

        <div class="sub-foot">
            <div class="foot-head">
                <h3>MẠNG XÃ HỘI</h3>
            </div>
            <div class="foot-text">
                <img class="image" src="../../../assets/images/ins.jpg" />
                <img class="image" src="../../../assets/images/tiktok.png" />
                <img class="image" src="../../../assets/images/ytb.png" />
                <img class="image" src="../../../assets/images/twit.png" />
                <img class="image" src="../../../assets/images/fb.jpg" />
            </div>
        </div>

        <div class="sub-foot">
            <div class="foot-head">
                <h3>CÂU HỎI THƯỜNG GẶP</h3>
            </div>

            <div class="foot-text">
                <p>Các điểm đến</p>
                <p>Phòng báo chí</p>
                <p>Liên hệ</p>
                <p>Mã khuyến mãi</p>
            </div>
        </div>
    </div>
</div>